{
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "singleQuote": false,
  "bracketSameLine": true,
  "overrides": [{ "files": ["tsconfig*.json"], "options": { "parser": "jsonc" } }]
}
