:root {
    --card-width: 63mm;
    --card-height: 88mm;
    --card-cutting-guide: 1px;
    --gap-size: 2px;
    --card-border: #000000;
    --cardback-border: #000000;
    --page-left-margin: 10mm;
    --cardback-group-extra-background: 10px;

    --lorcana-font-fallback-bogle: "Bogle", "Trebuchet MS", "Segoe UI", sans-serif;
    --lorcana-font-card-name:
        "The Bystander Collection Sans Medium", var(--lorcana-font-fallback-bogle);
    --lorcana-font-card-version: "Brandon Text Condensed Bold", var(--lorcana-font-fallback-bogle);
    --lorcana-font-card-subtypes:
        "Brandon Text Condensed Black Italic", var(--lorcana-font-fallback-bogle);
    --lorcana-font-keyword-name: "Brandon Text Condensed Black", var(--lorcana-font-fallback-bogle);
    --lorcana-font-keyword-reminder:
        "Brandon Text Condensed Medium Italic", var(--lorcana-font-fallback-bogle);
}

* {
    margin: 0;
    padding: 0;
}

body {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

.page {
    margin-top: 10mm;
    display: inline-grid;
    grid-template-columns: repeat(3, var(--card-width));
    flex-wrap: wrap;
    gap: var(--gap-size);
    position: relative;
    margin-left: var(--page-left-margin);
}

.guide {
    position: absolute;
}

.rtl {
    direction: rtl;
}

.card-sleeve {
    height: var(--card-height);
    width: var(--card-width);
    position: relative;
}

.img {
    display: block;
    height: var(--card-height);
    width: var(--card-width);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.img.radius {
    border-radius: 2mm;
}

.card-back .img {
    box-shadow: none;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

.controls {
    position: fixed;
    top: 0;
    right: 0;
}

.card-prompt {
    padding: 3px;
    min-width: 300px;
    min-height: 350px;
}
