/* Name */
@font-face {
    font-family: "The Bystander Collection Sans Medium";
    src: url("http://127.0.0.1:8787/assets/fonts/BystanderSans-Medium.woff2")
        format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

/* Version */
@font-face {
    font-family: "Brandon Text Condensed Bold";
    src: url("http://127.0.0.1:8787/assets/fonts/brandon-text-condensed-bold.woff2")
        format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* Keyword Sub-types */
@font-face {
    font-family: "Brandon Text Condensed Black Italic";
    src: url("http://127.0.0.1:8787/assets/fonts/brandon-text-condensed-black-italic.woff2")
        format("woff2");
    font-style: italic;
    font-weight: 900;
    font-display: swap;
}

/* Keyword Ability Name */
@font-face {
    font-family: "Brandon Text Condensed Black";
    src: url("http://127.0.0.1:8787/assets/fonts/brandon-text-condensed-black.woff2")
        format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

/* Keyword Ability Reminder */
@font-face {
    font-family: "Brandon Text Condensed Medium Italic";
    src: url("http://127.0.0.1:8787/assets/fonts/brandon-text-condensed-medium-italic.woff2")
        format("woff2");
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Bogle";
    font-style: normal;
    font-weight: 400;
    src:
        local("Bogle"),
        url("http://127.0.0.1:8787/assets/fonts/BOGLEREGULAR.woff")
            format("woff");
}
@font-face {
    font-family: "Bogle";
    font-style: italic;
    font-weight: 400;
    src:
        local("Bogle"),
        url("http://127.0.0.1:8787/assets/fonts/BOGLEITALIC.woff")
            format("woff");
}
@font-face {
    font-family: "Bogle";
    font-style: normal;
    font-weight: 700;
    src:
        local("Bogle"),
        url("http://127.0.0.1:8787/assets/fonts/BOGLEBOLD.woff") format("woff");
}
@font-face {
    font-family: "Bogle";
    font-style: italic;
    font-weight: 700;
    src:
        local("Bogle"),
        url("http://127.0.0.1:8787/assets/fonts/BOGLEBOLDITALIC.woff")
            format("woff");
}
@font-face {
    font-family: "Bogle";
    font-style: normal;
    font-weight: 900;
    src:
        local("Bogle"),
        url("http://127.0.0.1:8787/assets/fonts/BOGLEBLACK.woff") format("woff");
}
@font-face {
    font-family: "Bogle";
    font-style: italic;
    font-weight: 900;
    src:
        local("Bogle"),
        url("http://127.0.0.1:8787/assets/fonts/BOGLEBLACKITALIC.woff")
            format("woff");
}

@font-face {
    font-family: "BBH Sans Bogle";
    src: url("http://127.0.0.1:8787/assets/fonts/bbh-sans-bogle.woff2")
        format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
